PRIVATE_KEY = "0x9b..."
PINATA_API_KEY = "e...g"


GATEWAY_KEY = "rWE...dGd"
GATEWAY_URL = "https://your-secret-url-339.mypinata.cloud"


DUCKY_ASSET_CONTRACT = "0x036eC498746530B141EAc546640Dc7D5Ab5D20B8"
PORT = 5000

FRONTEND_URL = "rewired-frontend-ducky-marketplace.vercel.app"